.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.container {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.btn {
  width: 150px;
  height: 45px;
  border-style: double;
  border-radius: 90px;
  border: 1px solid white;
  color: black;
}
